$body_font: 'Roboto', sans-serif;

$footer_navbar_color:#2f1f1f;
$products_bg:#e9e0b7;
$welcome_bg:#f4f4f4;
$home_bg:#4a3a3a;

$white_color: whitesmoke;
$color_text1:#333;
$color_text2:#fbcd7f;
$title_color:#d86b40;
$icon_footer:#c74000;

$radius_color:#d9bf84;
$radius_footer:rgba(199,64,0,0.7);

$padding_sections: 4em;